#gitignore规则#
#先过滤后保留


#过滤文件
Debug
Release
GeneratedFiles
.vs
*.ncb
*.suo
*.user
*.vcxproj.filters
*.vcxproj.user
*.ipch
*.VC.db
UpgradeLog.htm


#保留文件
!/Solution1/Debug
/Solution1/Debug/*
!/Solution1/Debug/jre
!/Solution1/Debug/7z.dll
!/Solution1/Debug/7z.exe
!/Solution1/Debug/pthreadVC2.dll
!/Solution1/Debug/zlib1.dll
!/Solution1/Debug/libcrypto.dll
!/Solution1/Debug/libcrypto.pdb
!/Solution1/Debug/libssl.dll
!/Solution1/Debug/libssl.pdb
!/Solution1/Debug/libcrypto.lib
!/Solution1/Debug/libssl.lib
!/Solution1/Debug/openssl.exe
!/Solution1/Debug/openssl.pdb
!/Solution1/Release
/Solution1/Release/*
!/Solution1/Release/jre
!/Solution1/Release/7z.dll
!/Solution1/Release/7z.exe
!/Solution1/Release/pthreadVC2.dll
!/Solution1/Release/zlib1.dll
!/Solution1/Release/libcrypto.dll
!/Solution1/Release/libcrypto.pdb
!/Solution1/Release/libssl.dll
!/Solution1/Release/libssl.pdb
!/Solution1/Release/libcrypto.lib
!/Solution1/Release/libssl.lib
!/Solution1/Release/openssl.exe
!/Solution1/Release/openssl.pdb


