#过滤文件
Debug
Release
*.ncb
*.suo
*.user

#保留文件
C&C++/Solution1/Debug/jre/
C&C++/Solution1/Debug/7z.dll
C&C++/Solution1/Debug/7z.exe
C&C++/Solution1/Debug/pthreadVC2.dll
C&C++/Solution1/Debug/zlib1.dll
C&C++/Solution1/Release/jre/
C&C++/Solution1/Release/7z.dll
C&C++/Solution1/Release/7z.exe
C&C++/Solution1/Release/pthreadVC2.dll
C&C++/Solution1/Release/zlib1.dll